@import "../../common/modern-reset.css";

body {
  margin: 50px;
  background-color: rgb(255, 255, 69);
  background-image: url(./../../assets/images/rabbit.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
  background-size: 100px 120px;
}
.bg-text-gradient {
  font-size: 3.5rem;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-block: 20px;
  background-color: lightgreen;
  background-image: linear-gradient(red, orange, yellow, green, darkblue, purple);
  background-clip: text;
  color: transparent;
}
.bg-origin {
  width: 800px;
  inline-size: 800px;
  margin-inline: auto;
  /* background-color: pink;
  background-image: url(./../../assets/thumbnail/meeting-room.jpg);
  background-origin: border-box; */
  padding: 20px;
  border: 20px solid hsla(350, 50%, 50%, 0.2);
  background: salmon url(./../../assets/thumbnail/meeting-room.jpg) border-box no-repeat 20px 20px / cover;
}
